# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac
.DS_Store

# MLflow (experimentos locais)
models/
reports/
mlruns/
artifacts/
data/
data/raw/*
data/processed/*
data/cifar-10-batches-py/*
data/cifar-10-python.tar.gz
src/taia_lab.egg-info

# Ambientes
.venv/
venv/
.stamps/
.agents/
!models/.gitkeep
!reports/.gitkeep
!artifacts/.gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep
